<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Kean.Core" version="0.2.0.757" targetFramework="net45" />
  <package id="Kean.Core.Collection" version="0.2.0.757" targetFramework="net45" />
  <package id="Kean.Core.Error" version="0.2.0.757" targetFramework="net45" />
  <package id="Kean.Core.Reflect" version="0.2.0.757" targetFramework="net45" />
  <package id="Kean.Math" version="0.2.0.757" targetFramework="net45" />
  <package id="Kean.Test" version="0.2.0.768" targetFramework="net45" />
  <package id="NUnit" version="2.6.2" targetFramework="net45" />
</packages>